.mat-dialog-container {
  //background-color: #0d252f;
  //color: #fff;

  .content {
    font-family: Roboto, Helvetica Neue, sans-serif;
    text-align: left;
    font-weight: 300;
    line-height: 25px;
  }
}

.skillText,
.skillTextBall {
  vertical-align: middle;
  margin-right: 5px;
}
