.toolbar {
  height: 100px;
}

.example-spacer {
  flex: 1 1 auto;
}

.menu-button {
  margin-right: 1em;
}

.search-field {
  width: 300px;
}

.filtered-cards-count {
  margin-left: 1em;
  color: #757575;
}
