.virtual-grid-viewport {
  width: 100%;
}

.virtual-grid-small-view {
  height: calc(100vh - 56px);
}

.virtual-grid-large-view {
  height: calc(100vh - 100px);
}

.card-wrapper {
  padding: 5px;
  background-color: transparent;
  box-shadow: none;
  display: inline-block;

  &:first-child {
    padding-left: 5px;
  }

  &:last-child {
    padding-right: 5px;
  }
}

.card-img {
  padding-top: calc(100% * (364 / 260));
  height: 0;
  position: relative;

  .image {
    width: 100%;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;

    &:hover {
      background-color: transparent;
    }
  }
}

.card {
  background-color: #0d252f;
  border-radius: 10px;
  box-shadow: 0 0 6px 1px rgba(128, 128, 128, 0.62);
}

.color-wrapper {
  height: 5px;

  .color {
    height: 5px;
    float: left;

    &.red {
      background-color: #b21e10;
    }

    &.green {
      background-color: #328c38;
    }

    &.blue {
      background-color: #0f70a7;
    }

    &.yellow {
      background-color: #f9d81d;
    }

    &.black {
      background-color: #0c0a00;
    }
  }
}

.card-header {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.mat-card-header {
  margin: 0;
  background-color: #0d252f;
  color: #fff;
  padding: 5px;
  font-family: Roboto, Helvetica Neue, sans-serif;

  .number {
    text-align: right;
    font-size: 10px;
    font-weight: 200;
  }

  .name {
    text-align: center;
    font-size: 18px;
    height: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
